    /* header */
    
    header {
        background-image: url(../img/header.png);
        background-size: cover;
        height: 145vh;
        width: 100%;
        position: relative;
    }
    
    header .layout {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: -webkit-linear-gradient( 90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
        opacity: .9;
        z-index: 9999;
    }
    
    .nav-bar {
        padding: 30px 0px;
    }
    
    .nav-bar .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
    }
    
    .nav-bar .logo {
        font-size: 30px;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Montserrat-Bold';
    }
    
    .nav-bar nav {
        overflow: hidden;
    }
    
    .nav-bar ul {
        padding: 0;
        margin: 0;
        display: flex;
        transition: all .5s ease-in-out;
        transition-delay: .3s;
    }
    
    ul.list-unstyled.search {
        transform: translateX(-600px);
    }
    
    .nav-bar ul li {
        margin-left: 40px;
        color: #fff;
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding-bottom: 4px;
    }
    
    .nav-bar ul li a {
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Montserrat-Regular';
    }
    
    .nav-bar ul li::before {
        content: "";
        position: absolute;
        z-index: 1;
        right: 100%;
        left: 0;
        bottom: 0px;
        background: #fce38a;
        height: 2px;
        transition: all .4s ease-in-out;
    }
    
    .nav-bar ul li:hover::before {
        right: 0;
    }
    
    .nav-bar ul li a:hover {
        color: #fce38a;
    }
    
    .nav-bar ul li:last-of-type {
        cursor: pointer;
    }
    
    .nav-bar form {
        position: absolute;
        right: -100%;
        top: 0;
        transition: .3s;
        transition-delay: .3s;
    }
    
    .nav-bar form.open {
        right: 0;
    }
    
    .nav-bar input {
        width: 300px;
        height: 30px;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #fff;
        padding: 0px 5px;
        transform: translateX(400px);
        transition: .4s;
    }
    
    .nav-bar input::placeholder {
        color: #fff;
    }
    
    .nav-bar input.search-input {
        transform: translateX(0px);
        border-bottom: 1px solid #fff;
    }
    
    .nav-bar form button#search-btn {
        display: none;
        border: none;
        outline: none;
        color: #fff;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        background-color: transparent;
    }
    
    .nav-bar form button#search-btn.search-btn {
        display: block;
    }
    
    .nav-bar .toggle {
        display: none;
    }
    
    .nav-bar svg path {
        fill: rgb(255, 255, 255);
    }
    
    .search,
    .nav-bar #close-btn {
        display: none;
    }
    
    @media(max-width:991px) {
        .nav-bar svg path {
            fill: rgb(0, 0, 0);
        }
        .nav-bar form {
            position: fixed;
            width: 100%;
            height: 100%;
            background: #333;
            left: -100%;
            z-index: 9999999999;
        }
        .nav-bar form.show-close {
            left: 0px;
        }
        .nav-bar input {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }
        .nav-bar #close-btn {
            font-size: 50px;
            color: #fff;
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -20%);
            cursor: pointer;
            display: block;
        }
        .nav-bar ul {
            display: block;
            display: block;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
        }
        .nav-bar ul li {
            padding: 20px 0px;
            display: grid;
            margin: 0;
            text-align: center;
        }
        .nav-bar ul li a {
            color: #000;
            font-weight: bold;
        }
        .slide-bar {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: #000000f2;
            z-index: 9999;
            transition: all .5s ease-in-out;
        }
        .slide-bar.active {
            left: 0;
        }
        .slide-bar nav {
            position: absolute;
            left: 0;
            width: 300px;
            height: 100%;
            background-color: #fff;
        }
        .toggle {
            display: block!important;
            position: absolute;
            margin-right: auto;
            cursor: pointer;
            width: 30px;
            height: 30px;
            top: 50%;
            transform: translateY( -50%);
            right: 0px;
            transition: all .5s ease-in-out;
            z-index: 99999;
        }
        .toggle span {
            width: 30px;
            height: 3px;
            display: inline-block;
            background-color: #fff;
            position: relative;
        }
        .toggle span::after,
        .toggle span::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: #fff;
        }
        .toggle span::after {
            top: 10px;
        }
        .toggle span::before {
            top: -10px;
        }
        .toggle.active span {
            background-color: #33333305;
        }
        .toggle.active span::before {
            transform: rotate(-45deg);
            top: 0px;
            transition: all .5s ease-in-out;
        }
        .toggle.active span::after {
            transform: rotate(45deg);
            top: 0px;
            transition: all .5s ease-in-out;
        }
        .nav-bar ul li:last-of-type {
            display: none;
        }
        .nav-bar .search {
            width: 100%;
            position: absolute;
            height: 80px;
            line-height: 80px;
            text-align: center;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 20px;
        }
        .nav-bar .close-nav {
            font-size: 30px;
            cursor: pointer;
        }
        div#close-search {
            cursor: pointer;
        }
    }
    
    button:focus,
    input:focus {
        outline: none;
    }
    /* navbar */
    /* slider */
    
    .slider {
        padding-top: 40px;
    }
    
    .slider .cont {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    
    .slider h3 {
        font-size: 72px;
        color: #fff;
        font-family: 'kaushan-script.regular';
        text-align: center;
    }
    
    .slider h1 {
        font-size: 120px;
        color: #fff;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        position: relative;
    }
    
    .slider h1:after {
        content: "";
        position: absolute;
        width: 70px;
        height: 4px;
        background-color: #fff;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .slider .btn {
        margin-top: 80px;
        border: 3px solid #fff;
        padding: 8px 30px;
    }
    
    .slider .btn a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
    }
    
    .slider .progres {
        padding: 100px 0px 0px 0px;
        display: flex;
    }
    
    .progres>div {
        background-color: #fff;
        height: 3px;
        width: 23%;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .progres div:first-of-type {
        position: relative;
    }
    
    .progres div:first-of-type::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        background-color: #f38181;
        animation: progress 1s ease-in-out;
        transition: all .5s ease-in-out;
        animation-delay: 2s;
    }
    
    @keyframes progress {
        0% {
            width: 0%;
        }
        100% {
            width: 30%
        }
    }
    
    .progres h2 {
        margin-top: 20px;
        text-align: left;
        font-size: 24px;
        color: #fff;
        font-family: 'Montserrat-Bold';
    }
    
    .progres span {
        font-size: 18px;
        font-family: 'Montserrat-Regular';
        text-transform: uppercase;
    }
    
    @media(max-width:991px) {
        .slider h1 {
            font-size: 80px;
            line-height: 1.2;
        }
        .slider h3 {
            font-size: 40px;
        }
        .slider {
            padding-top: 20px;
        }
        .slider .progres {
            padding: 100px 0px 0px 0px!important;
        }
    }
    
    @media(max-width:767px) {
        header {
            height: 120vh;
        }
        .slider {
            padding-top: 20px;
        }
        .slider h1 {
            font-size: 50px;
            line-height: 1.2;
        }
        .slider h3 {
            font-size: 30px;
        }
        .progres span {
            font-size: 15px;
        }
        .progres h2 {
            font-size: 20px;
        }
    }
    
    @media(max-width:567px) {
        .slider .cont {
            width: 76%;
        }
        .slider .progres {
            display: none;
        }
        header {
            height: 80vh;
        }
        .slider h1:after {
            bottom: -30px;
        }
        .slider .btn {
            margin-top: 60px;
        }
        .slider h1 {
            font-size: 25px;
        }
        .slider h3 {
            font-size: 20px;
        }
    }
    /* header */
    /* about */
    
    .about {
        padding: 70px 0px;
    }
    
    .about .cont {
        width: 86%;
        margin: auto;
        text-align: center;
    }
    
    .about h3 {
        font-size: 24px;
        color: #000;
        font-family: 'kaushan-script.regular';
    }
    
    .about h2 {
        font-size: 30px;
        color: #000;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        position: relative;
    }
    
    .about h2::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        width: 70px;
        height: 3px;
        background-color: #f38181;
    }
    
    .about .cont p {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Regular';
        margin-top: 70px;
        line-height: 1.7;
    }
    
    .about .row {
        margin-top: 100px;
    }
    
    .about .card {
        height: 250px;
        overflow: hidden;
        border: none;
    }
    
    .about .hover {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0%;
        opacity: .9;
        background-image: -webkit-linear-gradient( 90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
        transition: all .5s ease-in-out;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 20px 20px #95e1d3;
        opacity: 0;
    }
    
    .about .col-md-4:hover .hover {
        opacity: .9;
    }
    
    .about .hover p,
    i {
        font-size: 18px;
        color: #fff;
        font-family: 'Montserrat-Bold';
        text-align: center;
        text-transform: uppercase;
    }
    
    .about img,
    .about .img {
        height: 100%;
    }
    
    @media(max-width:991px) {
        .about .row {
            margin-top: 50px;
        }
    }
    
    @media(max-width:767px) {
        .about .cont {
            width: 100%;
        }
        .about .cont p {
            font-size: 14px;
            margin-top: 60px;
        }
        .about .card {
            width: 80%;
            margin: 10px auto;
        }
    }
    
    @media(max-width:567px) {
        .about {
            padding: 40px 0px;
        }
        .about .card {
            width: 80%;
            margin: 10px auto;
        }
        .about h2 {
            font-size: 25px;
        }
        .about h2 {
            font-size: 20px;
        }
        .about .cont p {
            margin-top: 50px;
            text-align: justify;
        }
        .about .row {
            margin-top: 30px;
        }
    }
    /* about */
    /* conter */
    
    .conter {
        width: 100%;
        padding: 50px 0px;
        background: #95e1d3;
    }
    
    .conter .cont {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .conter .cont .content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }
    
    .conter .cont .content .feat {
        text-align: center;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #b5eae0;
        border-left: 1px solid #b5eae0;
    }
    
    .conter .cont .content div h2 {
        font-size: 72px;
        color: #fff;
        font-family: 'Montserrat-Bold';
    }
    
    .conter .cont .content div p {
        font-size: 14px;
        color: #fff;
        font-family: 'Montserrat-Regular';
        text-transform: uppercase;
    }
    
    @media (max-width:991px) {
        .conter .cont .content div h2 {
            font-size: 50px;
        }
        .conter .cont .content {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            justify-content: start;
        }
        .conter .cont .content .feat {
            width: 230px;
            margin-bottom: 40px;
        }
    }
    
    @media(max-width:567px) {
        .conter {
            padding: 50px 0px 20px;
        }
        .conter .cont .content {
            flex-direction: column;
        }
        .conter .cont .content .feat {
            margin-bottom: 20px;
        }
        .conter .cont .content div h2 {
            font-size: 50px;
        }
    }
    /* conter */
    /* work */
    
    .work {
        padding: 50px 0px 0px;
    }
    
    .work .cont {
        width: 86%;
        margin: auto;
        text-align: center;
    }
    
    .work h3 {
        font-size: 24px;
        color: #000;
        font-family: 'kaushan-script.regular';
    }
    
    .work h2 {
        font-size: 30px;
        color: #000;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        position: relative;
    }
    
    .work h2::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        width: 70px;
        height: 3px;
        background-color: #f38181;
    }
    
    .work .row {
        margin-top: 100px;
    }
    
    .work .media {
        padding: 50px 0px;
    }
    
    .work .first:after {
        content: "";
        width: 100%;
        height: 1px;
        background: #e5e5e5;
        position: absolute;
    }
    
    .work .media-body {
        margin-left: 30px;
    }
    
    .work svg {
        margin: 5px;
    }
    
    .work .media-body h5 {
        font-size: 14px;
        text-transform: uppercase;
        color: #333;
        font-weight: bold;
        font-family: 'Montserrat-Regular';
    }
    
    .work .media-body p {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Regular';
    }
    
    @media(max-width:991px) {
        .work .row {
            margin-top: 80px;
        }
        .work .first:after {
            width: 0;
        }
        .work .media {
            padding: 25px 0px;
        }
    }
    
    @media(max-width:567px) {
        .work h2 {
            font-size: 22px;
        }
        .work h3 {
            font-size: 20px;
        }
        .work .row {
            margin-top: 50px;
        }
        .work .media {
            padding: 10px 0px 0px;
            display: block;
            text-align: center;
        }
        .work .media-body {
            margin: 10px 0px 0px;
        }
    }
    /* work */
    /* design */
    
    .design {
        padding: 50px 0px;
    }
    
    .design .cont {
        width: 86%;
        margin: auto;
        text-align: center;
        margin-top: 80px;
    }
    
    .design h3 {
        font-size: 24px;
        color: #000;
        font-family: 'kaushan-script.regular';
    }
    
    .design h2 {
        font-size: 30px;
        color: #000;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        position: relative;
    }
    
    .design h2::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        width: 70px;
        height: 3px;
        background-color: #f38181;
    }
    
    .design .img {
        height: 850px;
        background-image: url(../img/Layer-45.png);
        background-size: cover;
        width: 100%;
        position: relative;
    }
    
    .design .img .layout {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #d9d9d9;
        opacity: .8;
    }
    
    .design .imgbox {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 600px;
        height: 600px;
        display: flex;
    }
    
    .design .imgbox img:first-of-type {
        height: 100%;
    }
    
    .design .imgbox img:last-of-type {
        object-fit: contain;
        position: absolute;
        right: -10px;
        bottom: -80px;
    }
    
    @media(max-width:767px) {
        .design .imgbox {
            width: 300px;
            height: 400px;
        }
        .design .imgbox img:first-of-type {
            width: 100%;
        }
        .design .imgbox img:last-of-type {
            right: -100px;
        }
        .design .img {
            height: 600px;
        }
        .design h3 {
            padding-top: 40px;
        }
        .design .imgbox img:last-of-type {
            right: -30%;
            bottom: -40px;
            transform: translateX(-30%);
            height: 300px
        }
        .design .cont {
            margin-top: 0px;
        }
    }
    
    @media(max-width:567px) {
        .design h3 {
            font-size: 20px;
        }
        .design h2 {
            font-size: 25px;
        }
        .design .imgbox img:last-of-type {
            right: 0%;
            bottom: -40px;
            transform: translateX(-15%);
            height: 270px;
        }
        .design .img {
            height: 600px;
        }
    }
    /* design*/
    /* what-we-do */
    
    .what-we-do {
        padding: 30px 0px 50px;
    }
    
    .what-we-do .cont {
        width: 86%;
        margin: auto;
        text-align: center;
        margin-top: 80px;
    }
    
    .what-we-do .cont h3 {
        font-size: 24px;
        color: #000;
        font-family: 'kaushan-script.regular';
    }
    
    .what-we-do .cont h2 {
        font-size: 30px;
        color: #000;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        position: relative;
    }
    
    .what-we-do .cont h2::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        width: 70px;
        height: 3px;
        background-color: #f38181;
    }
    
    .what-we-do .cont p {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Regular';
        margin-top: 70px;
        line-height: 1.7;
    }
    
    .what-we-do .row {
        margin-top: 100px;
    }
    
    .what-we-do img {
        width: 100%;
        height: 100%;
    }
    
    .what-we-do .card-body {
        border: 1px solid #e5e5e5;
        max-height: 200px;
        overflow: auto;
    }
    
    .what-we-do div#accordionExample {
        margin-top: 30px;
    }
    
    .what-we-do .card {
        margin-bottom: 15px;
        border: none;
    }
    
    .what-we-do .card-body p {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Italic.';
        margin-bottom: 25px;
    }
    
    .what-we-do .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .what-we-do h2 svg {
        margin-right: 15px;
    }
    
    .what-we-do h2 {
        font-size: 14px;
        color: #333;
        font-weight: bold;
        font-family: 'Montserrat-Regular';
        text-transform: uppercase;
    }
    
    button:focus,
    button:hover {
        border: none;
        outline: none;
    }
    
    .btn.focus,
    .btn:focus {
        box-shadow: none;
    }
    
     ::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: #b5eae0;
        border-radius: 5px;
    }
    
    .what-we-do .card-body::-webkit-scrollbar {
        width: 5px;
        background-color: #f5f5f5;
        margin-top: 40px;
    }
    
    .what-we-do .card-body::-webkit-scrollbar-thumb {
        background: #b5eae0;
        border-radius: 20px;
    }
    
    .what-we-do .card-header {
        background-color: #fff;
        border: 1px solid #e5e5e5;
    }
    
    .what-we-do .accordion>.card .card-header {
        margin-bottom: 0;
    }
    
    .what-we-do .collapse {
        margin-top: 10px;
    }
    
    .what-we-do .btn.one svg path {
        fill-rule: evenodd;
        fill: rgb(204, 204, 204);
        d: path("M 3.138 11.474 L 10.997 3.616 L 18.958 11.578 L 18.959 11.578 C 19.229 11.837 19.596 11.998 20 11.998 C 20.828 11.998 21.5 11.326 21.5 10.497 C 21.5 10.093 21.34 9.726 21.079 9.456 L 21.08 9.456 L 12.08 0.456 L 12.079 0.456 C 11.807 0.174 11.424 -0.002 11 -0.002 C 10.999 -0.002 10.998 -0.002 10.997 -0.002 C 10.996 -0.002 10.994 -0.002 10.993 -0.002 C 10.569 -0.002 10.187 0.174 9.914 0.456 L 9.914 0.456 L 0.913 9.456 L 0.917 9.46 C 0.659 9.73 0.5 10.095 0.5 10.497 C 0.5 11.326 1.172 11.998 2 11.998 C 2.455 11.998 2.862 11.794 3.138 11.474 Z");
    }
    
    .what-we-do .btn.one svg.svg path {
        fill-rule: evenodd;
        fill: rgb(204, 204, 204);
        d: path("M 3.138 0.522 L 10.997 8.379 L 18.958 0.417 L 18.959 0.418 C 19.229 0.159 19.596 -0.002 20 -0.002 C 20.828 -0.002 21.5 0.669 21.5 1.498 C 21.5 1.903 21.34 2.269 21.079 2.54 L 21.08 2.54 L 12.08 11.54 L 12.079 11.539 C 11.807 11.821 11.424 11.997 11 11.997 C 10.999 11.997 10.998 11.997 10.997 11.997 C 10.996 11.997 10.994 11.997 10.993 11.997 C 10.569 11.997 10.187 11.821 9.914 11.539 L 9.914 11.54 L 0.913 2.54 L 0.917 2.536 C 0.659 2.267 0.5 1.901 0.5 1.498 C 0.5 0.669 1.172 -0.002 2 -0.002 C 2.455 -0.002 2.862 0.201 3.138 0.522 Z");
    }
    
    .what-we-do .btn.two svg path,
    .what-we-do .btn.three svg path {
        fill-rule: evenodd;
        fill: rgb(204, 204, 204);
        d: path("M 3.138 0.522 L 10.997 8.379 L 18.958 0.417 L 18.959 0.418 C 19.229 0.159 19.596 -0.002 20 -0.002 C 20.828 -0.002 21.5 0.669 21.5 1.498 C 21.5 1.903 21.34 2.269 21.079 2.54 L 21.08 2.54 L 12.08 11.54 L 12.079 11.539 C 11.807 11.821 11.424 11.997 11 11.997 C 10.999 11.997 10.998 11.997 10.997 11.997 C 10.996 11.997 10.994 11.997 10.993 11.997 C 10.569 11.997 10.187 11.821 9.914 11.539 L 9.914 11.54 L 0.913 2.54 L 0.917 2.536 C 0.659 2.267 0.5 1.901 0.5 1.498 C 0.5 0.669 1.172 -0.002 2 -0.002 C 2.455 -0.002 2.862 0.201 3.138 0.522 Z");
    }
    
    .what-we-do .btn.two svg.svg path,
    .what-we-do .btn.three svg.svg path {
        fill-rule: evenodd;
        fill: rgb(204, 204, 204);
        d: path("M 3.138 11.474 L 10.997 3.616 L 18.958 11.578 L 18.959 11.578 C 19.229 11.837 19.596 11.998 20 11.998 C 20.828 11.998 21.5 11.326 21.5 10.497 C 21.5 10.093 21.34 9.726 21.079 9.456 L 21.08 9.456 L 12.08 0.456 L 12.079 0.456 C 11.807 0.174 11.424 -0.002 11 -0.002 C 10.999 -0.002 10.998 -0.002 10.997 -0.002 C 10.996 -0.002 10.994 -0.002 10.993 -0.002 C 10.569 -0.002 10.187 0.174 9.914 0.456 L 9.914 0.456 L 0.913 9.456 L 0.917 9.46 C 0.659 9.73 0.5 10.095 0.5 10.497 C 0.5 11.326 1.172 11.998 2 11.998 C 2.455 11.998 2.862 11.794 3.138 11.474 Z");
    }
    
    @media(max-width:991px) {
        .what-we-do img {
            width: auto;
            height: auto;
            max-width: 100%;
            margin: auto;
            display: flex;
        }
        .what-we-do .row {
            margin-top: 50px;
        }
    }
    
    @media(max-width:767px) {
        .what-we-do .cont {
            margin-top: 0;
            width: 100%;
        }
    }
    
    @media(max-width:567px) {
        .what-we-do .cont h2 {
            font-size: 25px;
        }
        .what-we-do .cont p {
            margin-top: 50px;
            text-align: justify;
        }
        .what-we-do .card-body {
            padding: 10px;
        }
        .what-we-do .card-body p {
            font-size: 14px;
            text-align: revert;
        }
        .card-header {
            padding: 10px;
        }
    }
    /* what-we-do  */
    /* contant */
    
    .contant {
        padding: 50px 0px;
        background-color: #f8f8f8;
    }
    
    .contant p {
        font-size: 23px;
        color: #999;
        font-family: 'Roboto-Italic.';
        margin-top: 10px;
        margin-bottom: 20;
        font-weight: 100;
        padding: 0px 10px;
    }
    
    .contant .carousel-control-next,
    .contant .carousel-control-prev {
        width: auto;
    }
    
    .contant .col-lg-2 {
        margin-left: 4%;
    }
    
    .contant .col-lg-9 {
        margin-left: 2%;
    }
    
    .contant .card {
        border: 3px solid rgb(149, 225, 211);
        height: 100%;
        background: transparent;
        width: auto;
        margin: auto;
    }
    
    .contant .card a {
        margin: auto;
    }
    
    .contant .col-lg-9 a {
        font-size: 24px;
        color: #333;
        font-family: 'Roboto-Italic.';
        position: relative;
        left: 80px;
        text-decoration: none;
    }
    
    .contant .col-lg-9 a:before {
        content: "";
        position: absolute;
        left: -80px;
        top: 50%;
        height: 3px;
        width: 60px;
        background-color: #f38181;
        margin-right: 20px;
    }
    
    @media(max-width:991px) {
        .contant p {
            font-size: 18px;
            margin-bottom: 10px;
        }
        .contant .card {
            width: 120px;
        }
    }
    
    @media(max-width:767px) {
        .contant .card {
            width: 150px;
            height: 150px;
        }
        .contant .card a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 150px;
        }
        .contant .col-md-8 {
            max-width: 90%;
            margin: auto;
            margin-top: 15px;
            text-align: center;
        }
        .contant .carousel-control-next,
        .contant .carousel-control-prev {
            top: 40%;
        }
        .contant .col-md-8 a {
            left: 0;
            font-size: 20px;
        }
        .contant p {
            font-size: 14px;
            text-align: justify;
        }
    }
    
    @media(max-width:567px) {
        .contant .carousel-control-next,
        .contant .carousel-control-prev {
            top: -100px;
        }
        .contant .card a,
        .contant .card {
            width: 100px!important;
            height: 100px!important;
        }
    }
    /* contant */
    /* our-team */
    
    .our-team {
        padding: 50px 0px;
    }
    
    .our-team .cont {
        width: 86%;
        margin: auto;
        text-align: center;
        margin-top: 40px;
    }
    
    .our-team h3 {
        font-size: 24px;
        color: #000;
        font-family: 'kaushan-script.regular';
    }
    
    .our-team h2 {
        font-size: 30px;
        color: #000;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        position: relative;
    }
    
    .our-team h2::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        width: 70px;
        height: 3px;
        background-color: #f38181;
    }
    
    .our-team .cont p {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Regular';
        margin: 70px 0px;
    }
    
    .our-team .card {
        border: none;
        text-align: center;
    }
    
    .our-team .imgbox {
        height: 470px;
        position: relative;
    }
    
    .our-team .mediaa {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        box-shadow: 10px 10px #95e1d3;
        transition: all .6s ease-in-out;
        overflow: hidden;
        background-image: -webkit-linear-gradient( 90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    }
    
    .our-team .imgbox:hover .mediaa {
        opacity: .9;
    }
    
    .our-team .imgbox ul {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
    
    .our-team .imgbox ul li {
        width: 56px;
        height: 56px;
        background: #fce38a;
        position: relative;
        border-left: 1px solid #f9bd87;
        transform: translateX(-100PX);
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    
    .our-team .card:hover .mediaa li {
        transform: translateX(0PX);
        opacity: 1;
    }
    
    .our-team .card:hover .mediaa li:first-of-type {
        transition-delay: .1s;
    }
    
    .our-team .card:hover .mediaa li:nth-of-type(2) {
        transition-delay: .2s;
    }
    
    .our-team .card:hover .mediaa li:nth-of-type(3) {
        transition-delay: .3s;
    }
    
    .our-team .card:hover .mediaa li:nth-of-type(4) {
        transition-delay: .4s;
    }
    
    .our-team .imgbox ul li a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    
    .our-team i {
        color: #f38181
    }
    
    .our-team ul li.active i {
        color: #fff;
    }
    
    .our-team ul li.active {
        background-color: #f38181;
    }
    
    .our-team .imgbox img {
        height: 100%;
    }
    
    .our-team .card h5 {
        font-size: 14px;
        color: #333;
        font-family: 'Roboto-Regular';
        text-transform: uppercase;
    }
    
    .our-team .card a {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Italic.';
        text-decoration: none;
    }
    
    @media(max-width:767px) {
        .our-team {
            padding: 50px 0px 0px;
        }
        .our-team .cont {
            width: 100%;
            margin-top: 0;
        }
        .our-team .card-deck {
            flex-flow: column;
        }
        .our-team .imgbox {
            height: auto;
        }
        .our-team .imgbox img {
            height: auto;
            width: auto;
            max-width: 100%;
        }
        .our-team .cont p {
            margin: 50px 0px;
        }
    }
    
    @media(max-width:567px) {
        .our-team h2 {
            font-size: 25px;
        }
        .our-team .cont p {
            text-align: justify;
        }
        .our-team .imgbox {
            height: 300px;
        }
        .our-team .imgbox img {
            height: 100%;
            width: 100%;
        }
    }
    /* our-team */
    /* img-group */
    
    .img-group {
        padding: 50px 0px;
        background: #f8f8f8;
    }
    
    @media(max-width:991px) {
        .img-group {
            display: none;
        }
    }
    /* img-group */
    /* our-work */
    
    .our-work .cont {
        width: 86%;
        margin: auto;
        text-align: center;
        margin-top: 80px;
    }
    
    .our-work h3 {
        font-size: 24px;
        color: #000;
        font-family: 'kaushan-script.regular';
    }
    
    .our-work h2 {
        font-size: 30px;
        color: #000;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        position: relative;
    }
    
    .our-work h2::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        width: 70px;
        height: 3px;
        background-color: #f38181;
    }
    
    .our-work .cont p {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Regular';
        margin: 70px 0px;
    }
    
    .our-work .img {
        position: relative;
        height: 250px;
        overflow: hidden;
    }
    
    .our-work .hover {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        opacity: .9;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease-in-out;
        background-image: -webkit-linear-gradient( 90deg, rgb(252, 227, 138) 0%, rgb(243, 129, 129) 100%);
    }
    
    .our-work .img:hover .hover {
        left: 0;
    }
    
    .our-work h5 {
        font-size: 14px;
        color: #fff;
        font-family: 'Montserrat-Regular';
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .our-work p {
        font-size: 14px;
        color: #fff;
        font-family: 'Roboto-Italic.';
    }
    
    .our-work img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .our-work .imges {
        height: 100%;
    }
    
    .our-work .col-md-3 {
        padding: 0;
    }
    
    .our-work .img-fluid {
        height: 300px;
        object-fit: fill;
    }
    
    .our-work .img.imges {
        height: 100%;
    }
    
    @media(min-width:768px) and (max-width:991px) {
        .our-work .row {
            display: block;
        }
        .our-work .col-md-3 {
            padding: 0;
            display: flex;
            max-width: 100%;
        }
        .our-work .img {
            width: 50%;
        }
        .our-work .img.imges {
            width: 100%;
            height: 350px;
        }
    }
    
    @media(max-width:767px) {
        .our-work {
            padding: 50px 0px;
        }
        .our-work .cont {
            margin-top: 0;
            width: 100%;
        }
        .our-work h2 {
            font-size: 25px
        }
        .our-work .cont p {
            margin: 50px 0px;
        }
        .our-work .img {
            width: 70%;
            margin: 20px auto;
        }
        .our-work .col-md-3 {
            overflow: hidden;
            padding-right: 15px;
            padding-left: 15px;
        }
        .our-team .card {
            width: 80%;
            margin: auto;
        }
    }
    
    @media(max-width:567px) {
        .our-work h2 {
            font-size: 25px;
        }
        .our-work .cont p {
            text-align: justify;
            margin-bottom: 30px;
        }
    }
    /* our-work */
    /* content-two */
    
    .content-two .col-lg-9 {
        margin: 0;
    }
    
    .content-two .card {
        border: none;
        overflow: hidden;
    }
    
    .content-two .rounded-circle {
        height: 100%;
        max-width: 100%;
    }
    
    .content-two p {
        margin-top: 50px;
        font-size: 23px;
    }
    
    @media(max-width:991px) {
        .content-two p {
            font-size: 18px;
        }
    }
    
    @media(max-width:767px) {
        .content-two .card {
            height: auto;
        }
        .content-two .col-lg-9 a {
            left: 0px;
            font-size: 20px;
        }
        .content-two .carousel-control-next,
        .content-two .carousel-control-prev {
            top: 0;
        }
        .content-two p {
            font-size: 14px;
            text-align: justify;
        }
        .content-two .carousel-control-next,
        .content-two .carousel-control-prev {
            top: -100px;
        }
        .carousel-control-prev {
            left: 20px;
        }
        .carousel-control-next {
            right: -20pz;
        }
    }
    
    @media(max-width:567px) {
        .contant .col-md-8 {
            max-width: 100%;
        }
        .content-two .carousel-control-next,
        .content-two .carousel-control-prev {
            top: -100px;
        }
        .content-two p {
            font-size: 14px;
            text-align: justify;
        }
        .content-two .card,
        .contant .card a {
            width: 150px;
            height: 150px;
        }
    }
    /* content-two */
    /* client */
    
    .clien {
        background-image: url(../img/Layer-53.png);
        background-size: cover;
        position: relative;
    }
    
    .clien .overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffffb8;
    }
    
    .clien .cont {
        width: 86%;
        margin: auto;
        text-align: center;
    }
    
    .clien h3 {
        font-size: 24px;
        color: #000;
        font-family: 'kaushan-script.regular';
        padding-top: 80px;
    }
    
    .clien h2 {
        font-size: 30px;
        color: #000;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        position: relative;
    }
    
    .clien h2::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        width: 70px;
        height: 3px;
        background-color: #f38181;
    }
    
    .clien ul {
        margin-top: 80px;
    }
    
    .clien h5 {
        font-size: 14px;
        color: #333;
        font-family: 'Montserrat-Regular';
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .clien .media h2 {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Italic.';
        margin: 15px 0px;
    }
    
    .clien .media h2::after {
        position: absolute;
        content: "";
        left: 0%;
        transform: translate(0);
        bottom: -12px;
        width: 70px;
        height: 3px;
    }
    
    .clien .media p {
        color: #999;
        font-size: 15px;
        font-family: 'Roboto-Regular';
        margin: 20px 0px 50px
    }
    
    .clien .media-body {
        margin-left: 20px;
    }
    
    .clien .rounded-circle {
        width: 115px;
        height: 115px;
    }
    
    .clien .img1 {
        background-image: url(../img/Layer-47.png);
        background-position: 45% 10%;
    }
    
    .clien .img2 {
        background-image: url(../img/Layer-50.png);
        background-position: 45% 10%;
    }
    
    .clien .img3 {
        background-image: url(../img/Layer-49.png);
        background-position: 60% 48%;
    }
    
    .clien .img4 {
        background-image: url(../img/Layer-51.png);
        background-position: 25% 10%;
    }
    
    @media(max-width:991px) {
        .clien .media {
            display: block;
        }
        .clien .rounded-circle {
            margin: auto;
        }
        .clien .media-body {
            text-align: center;
            margin-top: 20px;
        }
        .clien .media h2::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    @media(max-width:767px) {
        .clien .media {
            margin-top: 30px;
        }
        .clien .media p {
            padding-top: 20px;
            margin: 0;
        }
        .clien ul.last {
            margin-top: 20px;
        }
        .clien h2::after {
            bottom: -15px;
        }
    }
    
    @media(max-width:567px) {
        .clien h2 {
            font-size: 25px;
        }
        .clien .cont {
            width: 100%;
            /* margin-top: 50px; */
        }
        .clien .media {
            display: block;
        }
        .clien .media-body {
            text-align: center;
            margin-top: 30px;
        }
        .clien .media-body p {
            font-size: 14px;
        }
        .clien .rounded-circle {
            margin: auto;
        }
        .clien .media h2::after {
            left: 50%;
            transform: translateX(-50%);
        }
        .clien ul {
            margin-top: 50px;
        }
    }
    /* blog */
    
    .blog .cont {
        width: 86%;
        margin: auto;
        text-align: center;
        margin-top: 80px;
    }
    
    .blog h3 {
        font-size: 24px;
        color: #000;
        font-family: 'kaushan-script.regular';
    }
    
    .blog h2 {
        font-size: 30px;
        color: #000;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        position: relative;
    }
    
    .blog h2::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        width: 70px;
        height: 3px;
        background-color: #f38181;
    }
    
    .blog .card-deck {
        margin-top: 80px;
    }
    
    .blog .card {
        border: none;
        text-align: left;
    }
    
    .blog .card-body {
        padding-left: 0;
    }
    
    .blog h5 {
        font-size: 14px;
        color: #333;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
    }
    
    .blog p {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Regular';
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .blog ul {
        display: flex;
    }
    
    .blog li {
        color: #999;
        font-size: 15px;
        font-family: 'Roboto-Italic.';
        margin-left: 20px;
    }
    
    .blog i {
        color: #95e1d3;
        margin: 0px 5px;
    }
    
    .blog .card-img-top {
        height: 250px;
    }
    
    @media(max-width:767px) {
        .blog .card-deck {
            flex-flow: column;
        }
        .blog .card-img-top {
            height: auto;
        }
        .blog .cont {
            margin-top: 50px;
        }
    }
    
    @media(max-width:567px) {
        .blog h2 {
            font-size: 25px;
        }
        .blog .card-deck {
            margin-top: 60px;
        }
        .blog .card {
            width: 80%;
            margin: auto;
        }
    }
    /*blog  */
    /* map */
    
    .map {
        background-image: url(../img/Layer-59.png);
        height: 250px;
        background-size: cover;
        width: 100%;
        position: relative;
    }
    
    .map .layout {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 251, 251, 0.81);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .map .layout a {
        text-decoration: none;
        font-size: 24px;
        color: #f38181;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        position: relative;
    }
    
    .map .layout a::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .map svg {
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
    /* footer */
    
    .footer {
        padding: 70px 0px;
    }
    
    .footer .first h5 {
        font-size: 40px;
        color: #ccc;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
    }
    
    .footer .first p:first-of-type {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Regular';
        margin: 30px 0px;
    }
    
    .footer .first .text {
        color: #333;
        font-size: 14px;
        font-family: 'Montserrat-Bold';
        position: relative;
        margin-bottom: 30px;
    }
    
    .footer .first .text span {
        font-family: 'Montserrat-Regular';
    }
    
    .footer .first .text::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }
    
    .footer .mediaa {
        display: flex;
        padding-top: 20px;
    }
    
    .footer .mediaa p {
        font-size: 15px;
        color: #999;
        font-family: 'Roboto-Italic.';
        margin: 0!important;
        ;
    }
    
    .footer .mediaa i {
        color: #95e1d3;
        margin-left: 20px;
    }
    
    .footer form {
        margin-top: 30px;
        display: flex;
    }
    
    .footer input {
        height: 48px;
        border: 1px solid #ccc;
        padding: 0px 0px 0px 20px;
        background: #fff;
        width: 70%;
    }
    
    .footer input::placeholder {
        font-size: 15px;
        color: #ccc;
        font-family: 'Roboto-Italic.';
    }
    
    .footer button {
        font-size: 14px;
        color: #fff;
        font-family: 'Montserrat-Bold';
        border: none;
        outline: none;
        width: 30%;
        height: 48px;
        background-color: #95e1d3;
        text-transform: uppercase;
    }
    /* first */
    /* two */
    
    .two h5,
    .three h5 {
        font-size: 14px;
        color: #333;
        text-transform: uppercase;
        font-family: 'Montserrat-Regular';
        font-weight: bold;
        margin-bottom: 40px;
    }
    
    .two .media .media-body p {
        font-size: 12px;
        color: #333;
        font-family: 'Montserrat-Regular';
        text-transform: uppercase;
        font-weight: bold;
        margin: 10px 0px 10px 0px;
    }
    
    .two span,
    .three a {
        color: #999;
        font-size: 13px;
        font-family: 'Roboto-Italic.';
    }
    
    .three img {
        padding: 5px 3px;
        max-width: 100%;
        height: initial;
    }
    
    .three a {
        margin-top: 20px;
        display: inline-block;
    }
    
    @media(max-width:991px) {
        .mt-5 {
            margin-top: 20px!important;
        }
        .two h5 {
            margin-bottom: 60px;
        }
        .three h5 {
            margin-top: 40px;
        }
        .three img {
            width: 32%;
            overflow: hidden;
        }
        .three a {
            text-align: center;
            display: block;
        }
    }
    
    @media(max-width:767px) {
        .footer {
            padding: 40px 0px!important;
        }
        .footer .first p:first-of-type {
            margin: 15px 0px;
        }
        .two h5,
        .three .h5 {
            margin: 40px 0px 20px;
        }
    }
    
    @media(max-width:567px) {
        .footer .first h5 {
            font-size: 35px;
        }
        .footer .first p:first-of-type {
            font-size: 14px;
        }
        .footer form {
            display: block;
            text-align: center;
        }
        .footer input {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    /* copy */
    
    .copy p {
        color: #333;
        font-family: 'Montserrat-Regular';
        font-weight: bold;
        padding-top: 20px;
        position: relative;
    }
    
    .copy p::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: -20px;
        background-color: #ccc;
    }
    
    .copy span {
        color: #f38181;
    }
    /* footer */
    /* loader */
    
    .loader {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #f38181;
        z-index: 9999999;
    }
    
    .sk-chase {
        width: 40px;
        height: 40px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: sk-chase 2s infinite linear both;
    }
    
    .sk-chase-dot {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        animation: sk-chase-dot 2.0s infinite ease-in-out both;
    }
    
    .sk-chase-dot:before {
        content: '';
        display: block;
        width: 25%;
        height: 25%;
        background-color: #fff;
        border-radius: 100%;
        animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
    }
    
    .sk-chase-dot:nth-child(1) {
        animation-delay: -1.1s;
    }
    
    .sk-chase-dot:nth-child(2) {
        animation-delay: -1.0s;
    }
    
    .sk-chase-dot:nth-child(3) {
        animation-delay: -0.9s;
    }
    
    .sk-chase-dot:nth-child(4) {
        animation-delay: -0.8s;
    }
    
    .sk-chase-dot:nth-child(5) {
        animation-delay: -0.7s;
    }
    
    .sk-chase-dot:nth-child(6) {
        animation-delay: -0.6s;
    }
    
    .sk-chase-dot:nth-child(1):before {
        animation-delay: -1.1s;
    }
    
    .sk-chase-dot:nth-child(2):before {
        animation-delay: -1.0s;
    }
    
    .sk-chase-dot:nth-child(3):before {
        animation-delay: -0.9s;
    }
    
    .sk-chase-dot:nth-child(4):before {
        animation-delay: -0.8s;
    }
    
    .sk-chase-dot:nth-child(5):before {
        animation-delay: -0.7s;
    }
    
    .sk-chase-dot:nth-child(6):before {
        animation-delay: -0.6s;
    }
    
    @keyframes sk-chase {
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes sk-chase-dot {
        80%,
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes sk-chase-dot-before {
        50% {
            transform: scale(0.4);
        }
        100%,
        0% {
            transform: scale(1.0);
        }
    }
    /* loader */